@model IEnumerable<KennethCV.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>User Information</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table-responsive">
<table class="table table-hover">
    <tr class="active">        
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Age
        </th>
        <th>
            Document ID
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Email
        </th>
        <th>
            Refference
        </th>
        <th>
            Education
        </th>
        <th>
            Experience
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="active">        
        <td>
			@item.NameUser
        </td>
        <td>
			@item.SurnameUser
        </td>
        <td>
			@item.AgeUser
        </td>
        <td>
			@item.DocumentUser
        </td>
        <td>
			@item.PhoneUser
        </td>
        <td>
			@item.AddressUser
        </td>
        <td>
			@item.EmailUser
        </td>
        <td>
			@(item.Refferences == null ? "None" : item.Refferences.Count.ToString())
        </td>
        <td>
			@(item.Educations == null ? "None" : item.Educations.Count.ToString())
        </td>
        <td>
			@(item.Experiences == null ? "None" : item.Experiences.Count.ToString())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
</div>

