@model KennethCV.Models.Refference

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
@Html.ActionLink("Back to List", "Index")
<fieldset>
    <legend>Refference</legend>

    <ul class="list-group">
       
        <li class="list-group-item">
            
            Name: @Model.NameRefefence @Model.SurnameReference 
            <hr />
            Phone: @Model.PhoneReference
            <hr />
            Employment: @Model.employmentReference
            <hr />
            WorkPlace: @Model.WorkPlaceReference
            <hr />
            Email: @Model.EmailReference
            <hr />
            Comentary: @Model.ComentReference
            <hr />            
        </li>       
    </ul>    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


