@model IEnumerable<KennethCV.Models.Refference>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="table-responsive">
   <table class="table table-hover">
      <tr class="active">          
        <th>
            Name
        </th>        
        <th>
            Phone
        </th>
        <th>
            Employment
        </th>
        <th>
            WorkPlace
        </th>
        <th>
            Email
        </th>
        <th>
            Comentaries
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="active">       
        <td>
			@item.NameRefefence @item.SurnameReference
        </td>        
        <td>
			@item.PhoneReference
        </td>
        <td>
			@item.employmentReference
        </td>
        <td>
			@item.WorkPlaceReference
        </td>
        <td>
			@item.EmailReference
        </td>
        <td>
			@item.ComentReference
        </td>
         <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
</div>

